<!-- 
    This is the default frame of application which
    renders the view. It uses VueRouter to direct
    routes and the view changes only for <router-view>
    tag.
-->
<template>
  <router-view></router-view>
</template>

<script>
export default {};
</script>
