<template>
  <q-layout view="hHh LpR fFf">
    <q-header reveal bordered class="bg-white text-grey-9 q-py-sm">
      <q-toolbar>
        <q-btn dense flat round icon="mdi-menu" @click="drawer = !drawer"/>
        <q-separator dark vertical inset></q-separator>
        <q-toolbar-title>
          <!-- <a href="/"> -->
          <q-avatar class="q-mx-xs">
            <img src="assets/images/wolf-head.png">
          </q-avatar>LQV
          <!-- </a> -->
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      :mini="!drawer || miniState"
      @click.capture="drawerClick"
      content-class="text-grey-8"
      v-model="drawer"
      side="left"
      bordered
      show-if-above
    >
      <q-scroll-area class="fit">
        <q-list v-for="(menuItem, index) in menuList" :key="index">
          <q-item
            clickable
            :active="menuItem.label === 'Outbox'"
            v-ripple
            active-class="bg-deep-purple-5 text-white"
          >
            <q-item-section avatar>
              <q-icon :name="menuItem.icon"/>
            </q-item-section>
            <q-item-section>{{ menuItem.label }}</q-item-section>
          </q-item>

          <q-separator v-if="menuItem.separator"/>
        </q-list>
      </q-scroll-area>
      <!--
          in this case, we use a button (can be anything)
          so that user can switch back
          to mini-mode
      -->
      <div class="q-mini-drawer-hide absolute" style="top: 15px; right: -17px">
        <q-btn
          dense
          round
          unelevated
          color="accent"
          icon="mdi-arrow-left"
          @click="miniState = true"
        />
      </div>
    </q-drawer>

    <q-page-container>
      <!-- <router-view/> -->
    </q-page-container>

    <q-footer bordered class="bg-grey-8 text-white">
      <q-toolbar>
        <small>&copy; {{ new Date().getFullYear() }} Sowren Sen | Version: {{ appVersion }}</small>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import { Factory } from "../repositories/Factory";
const settingsRepository = Factory.get("settings");
const menuList = [
  {
    icon: "mdi-inbox",
    label: "Inbox",
    separator: true
  },
  {
    icon: "mdi-send-circle-outline",
    label: "Outbox",
    separator: false
  },
  {
    icon: "mdi-delete-outline",
    label: "Trash",
    separator: false
  },
  {
    icon: "mdi-alert-circle-outline",
    label: "Spam",
    separator: true
  },
  {
    icon: "mdi-settings-outline",
    label: "Settings",
    separator: false
  },
  {
    icon: "mdi-message-alert-outline",
    label: "Send Feedback",
    separator: false
  },
  {
    icon: "mdi-help-circle-outline",
    iconColor: "primary",
    label: "Help",
    separator: false
  }
];

export default {
  data() {
    return {
      drawer: true,
      menuList: menuList,
      miniState: false,
      appVersion: null
    };
  },
  mounted() {
    this.getVersion();
  },
  methods: {
    drawerClick(e) {
      // if in "mini" state and user
      // click on drawer, we switch it to "normal" mode
      if (this.miniState) {
        this.miniState = false;

        // notice we have registered an event with capture flag;
        // we need to stop further propagation as this click is
        // intended for switching drawer to "normal" mode only
        e.stopPropagation();
      }
    },
    getVersion() {
      settingsRepository
        .getVersion()
        .then(response => (this.appVersion = response.data.version));
    }
  }
};
</script>
